<section class="section">
    <div class="container">
        <div class="hero" style="background-image: linear-gradient(rgba(16, 25, 34, 0.6) 0%, rgba(16, 25, 34, 0.8) 100%), url('https://lh3.googleusercontent.com/aida-public/AB6AXuAHlA9kP43pBwxGin_4ZZTzqvTJ8URY1P83cz4CCsHZu_cObglnNeJX6WBCHCXm03ZcvggI3WGEBz0xV1Clp3hoZZ2pF-bHVjyc8Jqb8FGGOJst5qulMrfNn_P0PHXqdGYKC6t4K_sHwsKtGvpwWlREVL-LnaZ6VPantexnlfjoiWjqkZXMb4yXCZiEB-BVm7Cj-8ClBabrILzrVYP2O6kSi2AExdD45lTgaYt-gQ6YvWeG-WolctJK_t8HXx2wWK2bQIF4I_ddZurP');">
            <div class="hero-content">
                <h1>南素里基督教会</h1>
                <p>Join the SSCA-BC to grow your network, access exclusive resources, and shape the future of our industry.</p>
            </div>
            <div class="hero-buttons">
                <button class="btn btn-primary btn-lg">
                    <span>2025一年读经一遍</span>
                </button>
                <button class="btn btn-secondary btn-lg">
                    <span>Sunday Bulletin 主日单张</span>
                </button>
            </div>
        </div>
    </div>
</section>

@code {
    
}
