<footer class="footer">
    <div class="container footer-content">
        <div class="footer-grid">
            <div class="footer-brand">
                <div class="footer-logo">
                    <svg fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" d="M39.475 21.6262C40.358 21.4363 40.6863 21.5589 40.7581 21.5934C40.7876 21.655 40.8547 21.857 40.8082 22.3336C40.7408 23.0255 40.4502 24.0046 39.8572 25.2301C38.6799 27.6631 36.5085 30.6631 33.5858 33.5858C30.6631 36.5085 27.6632 38.6799 25.2301 39.8572C24.0046 40.4502 23.0255 40.7407 22.3336 40.8082C21.8571 40.8547 21.6551 40.7875 21.5934 40.7581C21.5589 40.6863 21.4363 40.358 21.6262 39.475C21.8562 38.4054 22.4689 36.9657 23.5038 35.2817C24.7575 33.2417 26.5497 30.9744 28.7621 28.762C30.9744 26.5497 33.2417 24.7574 35.2817 23.5037C36.9657 22.4689 38.4054 21.8562 39.475 21.6262ZM4.41189 29.2403L18.7597 43.5881C19.8813 44.7097 21.4027 44.9179 22.7217 44.7893C24.0585 44.659 25.5148 44.1631 26.9723 43.4579C29.9052 42.0387 33.2618 39.5667 36.4142 36.4142C39.5667 33.2618 42.0387 29.9052 43.4579 26.9723C44.1631 25.5148 44.659 24.0585 44.7893 22.7217C44.9179 21.4027 44.7097 19.8813 43.5881 18.7597L29.2403 4.41187C27.8527 3.02428 25.8765 3.02573 24.2861 3.36776C22.6081 3.72863 20.7334 4.58419 18.8396 5.74801C16.4978 7.18716 13.9881 9.18353 11.5858 11.5858C9.18354 13.988 7.18717 16.4978 5.74802 18.8396C4.58421 20.7334 3.72865 22.6081 3.36778 24.2861C3.02574 25.8765 3.02429 27.8527 4.41189 29.2403Z" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                    <h2>SSCA-BC</h2>
                </div>
                <p>Fostering a vibrant and supportive community for professionals.</p>
                <div class="social-links">
                    <a href="#">
                        <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.23 0H1.77C.79 0 0 .79 0 1.77v20.46C0 23.21.79 24 1.77 24h11.45v-9.29H9.95v-3.62h3.27V8.41c0-3.25 1.99-5.02 4.88-5.02 1.39 0 2.59.1 2.94.15v3.24h-1.91c-1.58 0-1.88.75-1.88 1.85v2.42h3.59l-.47 3.62h-3.12V24h6.11c.98 0 1.77-.79 1.77-1.77V1.77C24 .79 23.21 0 22.23 0z"></path>
                        </svg>
                    </a>
                    <a href="#">
                        <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.223.085 4.93 4.93 0 004.6 3.42 9.868 9.868 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"></path>
                        </svg>
                    </a>
                    <a href="#">
                        <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.75 0H2.25C1.01 0 0 1.01 0 2.25v19.5C0 22.99 1.01 24 2.25 24h19.5c1.24 0 2.25-1.01 2.25-2.25V2.25C24 1.01 22.99 0 21.75 0zM7.25 20.25h-3.5V8.75h3.5v11.5zM5.5 7.25c-1.1 0-2-0.9-2-2s0.9-2 2-2 2 0.9 2 2-0.9 2-2 2zM20.25 20.25h-3.5v-5.62c0-1.34-0.02-3.07-1.87-3.07s-2.16 1.46-2.16 2.97v5.72h-3.5V8.75h3.36v1.54h0.05c0.47-0.88 1.6-1.82 3.32-1.82 3.55 0 4.2 2.34 4.2 5.38v6.15z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div>
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#membership">Membership Benefits</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>
            <div>
                <h4>Contact</h4>
                <ul style="list-style: none;">
                    <li class="contact-item">
                        <span class="material-symbols-outlined">location_on</span>
                        <span>123 Main Street<br/>Vancouver, BC, V6A 1B2</span>
                    </li>
                    <li class="contact-item">
                        <span class="material-symbols-outlined">call</span>
                        <span>(604) 555-1234</span>
                    </li>
                    <li class="contact-item">
                        <span class="material-symbols-outlined">mail</span>
                        <span>info@sscabc.org</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024 SSCA-BC. All rights reserved.</p>
        </div>
    </div>
</footer>

@code {
    
}
